---
import Layout from "@/layouts/Layout.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import { SITE } from "@/consts";
import { render } from "astro:content";
import "@styles/prose.css";
import BlogPostTag from "@/components/BlogPostTag.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const {
  data: { title, description, pubDate, tags },
} = post;
const { Content } = await render(post);
---

<Layout>
  <Fragment slot="head">
    <title>{title}—{SITE.title}</title>
    <meta name="description" content={description} />
  </Fragment>
  <article class="prose">
    <h1>{title}</h1>
    <h2 class="mx-4 mt-4 text-center text-base md:mx-8">{description}</h2>
    <p class="text-muted-foreground mb-4 text-center text-sm italic">
      published <time>{pubDate.toLocaleDateString()}</time>
    </p>
    <p class="mb-4 flex flex-wrap justify-center gap-2">
      {tags.map((tag) => <BlogPostTag>{tag}</BlogPostTag>)}
    </p>
    <Content />
  </article>
</Layout>
