---
import "@styles/global.css";
import { SITE } from "@/consts";
import Layout from "@/layouts/Layout.astro";
import { getAllPosts } from "@/lib/post-utils";
import BlogPostCard from "@/components/BlogPostCard.astro";
import BlogPostCardSmall from "@/components/BlogPostCardSmall.astro";

const posts = await getAllPosts();
const latestPost = posts?.[0];
const restPosts = posts?.slice(1) || [];
---

<Layout>
  <Fragment slot="head">
    <title>{SITE.title}&mdash;{SITE.description}</title>
    <meta name="description" content={SITE.description} />
  </Fragment>
  {
    latestPost ? (
      <BlogPostCard post={latestPost} />
    ) : (
      <p class="m-8 text-center text-4xl">This blog is empty!</p>
    )
  }
  {restPosts.map((post) => <BlogPostCardSmall post={post} />)}
</Layout>
