---
interface Props {
  post: CollectionEntry<"blog">;
}

import { type CollectionEntry, render } from "astro:content";
import {
  Card,
  CardHeader,
  CardTitle,
  CardDescription,
  CardContent,
  CardFooter,
} from "./ui/card";
import BlogPostTag from "./BlogPostTag.astro";
import FormattedDate from "./FormattedDate.astro";

const {
  post: {
    data: { title, description, pubDate, tags },
    id,
  },
} = Astro.props;

const {
  remarkPluginFrontmatter: { plainText },
} = await render(Astro.props.post);
---

<Card className="bg-background gap-2 border-none shadow-none">
  <CardHeader className="px-0">
    <CardTitle
      ><a href={`/blog/${id}`} class="mr-2 text-xl">{title}</a>{
        tags.map((tag) => <BlogPostTag>{tag}</BlogPostTag>)
      }</CardTitle
    >
    <CardDescription>{description}</CardDescription>
  </CardHeader>
  {
    plainText && (
      <CardContent className="px-0">
        {plainText.slice(0, 400)}
        {plainText.length > 400 ? "..." : ""}
      </CardContent>
    )
  }
  <CardFooter className="px-0 text-sm">
    <p class="ml-12 italic">
      &mdash;published <FormattedDate date={pubDate} />
    </p>
  </CardFooter>
</Card>
