---
interface Props {
  post: CollectionEntry<"blog">;
}

import type { CollectionEntry } from "astro:content";
import {
  Card,
  CardHeader,
  CardTitle,
  CardDescription,
  CardFooter,
} from "./ui/card";
import BlogPostTag from "./BlogPostTag.astro";

const { post: { data: { title, description, pubDate, tags }, id } } = Astro.props;
---

<Card className="bg-background border-none shadow-none gap-2 py-4">
  <CardHeader className="px-0">
    <CardTitle><a href={`/blog/${id}`} class="text-xl mr-2">{title}</a>{tags.map((tag) => <BlogPostTag>{tag}</BlogPostTag>)}</CardTitle>
    <CardDescription>{description}</CardDescription>
  </CardHeader>
  <CardFooter className="text-sm px-0">
    <p class="ml-12 italic">&mdash;published <time>{pubDate.toLocaleDateString()}</time></p>
  </CardFooter>
</Card>
